<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.renxin.cheku.sharesdk">

    <application>
        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>
</manifest>
