<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.renxin.cheku.app">

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ChekuAppTheme"
        tools:replace="android:theme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="582913f0aed1790fb7001a38" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
    </application>
</manifest>
